/* Animation Nav & Hero */

.dekstop-nav {
    animation: fadeDown 1000ms;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

.hero-container .left p {
    animation: fadeIn 800ms forwards;
    opacity: 0;
    animation-delay: 400ms;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }

}